* {
  margin: 0;
  padding: 0;
  font-family: "DM Serif Display", serif;
}

body {
  background-color: #efefef;
}

header {
  background-color: #1a1a1a;
  padding: 10px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 5px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #cba349;
}

.logo-header {
  color: #e1dbdb;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
}

.logo-header img {
  height: 50px;
}

nav ul li a.btn {
  background-color: #cba349;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
}

nav ul li a.btn:hover {
  background-color: #a26d22;
  color: white;
}

footer {
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

footer img {
  height: 40px;
  vertical-align: middle;
}
